<ion-view view-title="Forgot Password" hide-back-button="true" class="gradient-red">
  <ion-content overflow-scroll="true">
    <div class="header-bar">
    
          <div class="backbtn">
            <img src="img/back_arrow_white.png" ng-click="goto('login');" />
          </div>
            

    </div><!-- end of header-bar div -->
    <div class="login-form" style="height:{{$root.windowHeight-60}}px;">
         <div  class="login-form-inner" >
               <div>
                    <div class="login-logo">{{ 'Forgot Password ' | translate }}</div>
                    <h4 class="center">{{"We'll send you an email to reset your password" | translate }}</h4>
                    <input type="email" class="placeholder-grey" placeholder="{{ 'Email ' | translate }}" ng-model="resetemail">
                     <div class="login" ng-click="forgetpassword(resetemail)">
                       <i class="material-icons md-48">keyboard_arrow_right</i>
                     </div><!-- end of login div -->

                  
              </div><!-- end of  div -->
          </div><!-- end of login-form-inner div -->
    </div><!-- end of login-form div -->
  </ion-content><!-- end of ion-content div -->
</ion-view><!-- end of ion-view div -->
