
  <ion-modal-view class="gradient-red"> 
    <ion-header-bar>
      <h1 class="title"> {{ 'Group Rules' | translate }}</h1>
        <button class="button button-clear button-primary" ng-click="rulesmodal.hide()"> {{ 'Cancel' | translate }}</button>
    </ion-header-bar><!-- end of  header-bar div -->
    <ion-content overflow-scroll="true" >
          <div class="card">
              <div class="item item-text-wrap">
                {{group.rules}}
              </div><!-- end of  item item-text-wrap div -->
          </div><!-- end of card div -->
    </ion-content><!-- end of ion-content div -->
  </ion-modal-view><!-- end of modal-view div -->
