
<ion-view view-title="" class="gradient-red">
  <div class="header-bar">
        <!--<div class="backbtn">
          <img src="img/back_arrow_white.png" ng-click="goto('mainpage');" />
        </div>--><!-- end of backbtn div -->
        <div class="menubtn" ng-click="popover.show($event)"> 
       <i class="icon ion-navicon"  style="font-size: 40px;color: #fff;margin: 8px;line-height: 60px;"></i>
    </div>
       
        <div class="header-btn" ng-click="goto('editprofile');"><i class="fa fa-pencil-square-o"></i></div>
  </div><!-- end of header-bar div -->

 <ion-content class="hasheader" overflow-scroll="true" >

  <div class="profile-page" ng-if="$root.userdata">
    <div class="profile-overview">
            <div class="left-side">
                   <img ng-if="!$root.userdata.picture" src="img/user.png"  class="profile-pic" ng-click="goto('editprofile');"/>
                   <img ng-if="$root.userdata.picture" ng-src="{{$root.userdata.picture}}"  class="profile-pic" ng-click="goto('editprofile');" />
                    <div class="social">
                        <a href="https://www.facebook.com/{{$root.userdata.fblink}}" target="_blank">
                        <img src="img/fb.png"  ng-if="$root.userdata.fblink"/>
                        </a>
                        <a href="{{$root.userdata.twitterlink}}" target="_blank">
                        <img src="img/linkedin.png" ng-if="$root.userdata.twitterlink" />
                        </a>
                    </div><!-- end of social div -->
            </div><!-- end of left-side div -->
            <div class="middel-side">
                <h3 ng-if="$root.userdata.name" ><b>{{$root.userdata.name}}</b> <i ng-if="$root.userdata.companyName">({{$root.userdata.companyName}})</i></h3>

                <div>
                <div class="subtitle fsize" ng-if="$root.userdata.title">{{$root.userdata.title}}</div>
                <div class="location fsize" ng-if="$root.userdata.location"><i class="icon ion-navigate" style="color: #fff"></i> {{$root.userdata.location}} <!--<span style=" color:green;" ng-if="$root.userdata.locationVerified">({{'verified' | translate }})</span>--></div>
                <div class="timezone fsize" ng-if="$root.userdata.timezone"><i class="icon ion-android-time"></i>{{userLocalTime | date:'hh mm a'}}</div>
                <div ng-if="$root.userdata.hourlyRateHKD || $root.userdata.hourlyRateUSD" class="profile-hourl-rate">
                      <div class="subtitle fsize" style="font-weight:bold;">{{ 'Hourly Rate' | translate }} :</div>
                      <div class="subtitle fsize" ng-if="$root.userdata.hourlyRateHKD">$ HKD {{$root.userdata.hourlyRateHKD}}</div>
                      <div class="subtitle fsize" ng-if="$root.userdata.hourlyRateUSD">$ USD {{$root.userdata.hourlyRateUSD}}</div>
                    </div>
                 </div>   
            </div><!-- end of right-side div -->
            <div class="right-side">
              <div ng-click="viewStats();"><i class="material-icons" >assessment</i></div>
              <div><i class="material-icons">favorite</i>{{getObjectLength($root.userdata.liker)}}</div>
              <div ng-click="viewConnection();"><i class="material-icons">group_work</i>{{getObjectLength($root.userdata.followers)}}</div>
            </div>

    </div><!-- end of profile-overview div -->
    <div class="profile-summery">
          <div class="details" ng-if="$root.userdata.asTalentfeedback || $root.userdata.asEmployerfeedback">
           
                <div  ng-if="$root.userdata.asTalentfeedback && $root.userdata.asEmployerfeedback" ng-init="ratings=((calculateRating($root.userdata.asTalentfeedback)/getObjectLength($root.userdata.asTalentfeedback))+(calculateRating($root.userdata.asEmployerfeedback)/getObjectLength($root.userdata.asEmployerfeedback)))/2">
                 <i class="material-icons" ng-if="ratings==5">sentiment_very_satisfied</i>
                 <i class="material-icons" ng-if="ratings<5 && ratings>=4">sentiment_satisfied</i>
                 <i class="material-icons" ng-if="ratings<4 && ratings>=3">sentiment_neutral</i>
                 <i class="material-icons" ng-if="ratings<3 && ratings>=2">sentiment_dissatisfied</i>
                 <i class="material-icons" ng-if="ratings<2 && ratings>=0">sentiment_very_dissatisfied</i>
                 

                </div><!-- end of ratting div -->
                <div class="ratting" ng-if="$root.userdata.asTalentfeedback && !$root.userdata.asEmployerfeedback" ng-init="ratings=(calculateRating($root.userdata.asTalentfeedback)/getObjectLength($root.userdata.asTalentfeedback))">
               
            <i class="material-icons" ng-if="ratings==5">sentiment_very_satisfied</i>
                 <i class="material-icons" ng-if="ratings<5 && ratings>=4">sentiment_satisfied</i>
                 <i class="material-icons" ng-if="ratings<4 && ratings>=3">sentiment_neutral</i>
                 <i class="material-icons" ng-if="ratings<3 && ratings>=2">sentiment_dissatisfied</i>
                 <i class="material-icons" ng-if="ratings<2 && ratings>=0">sentiment_very_dissatisfied</i>

                </div><!-- end of ratting div -->
                <div class="ratting" ng-if="!$root.userdata.asTalentfeedback && $root.userdata.asEmployerfeedback" ng-init="ratings=(calculateRating($root.userdata.asEmployerfeedback)/getObjectLength($root.userdata.asEmployerfeedback))">
               
                 <i class="material-icons" ng-if="ratings==5">sentiment_very_satisfied</i>
                 <i class="material-icons" ng-if="ratings<5 && ratings>=4">sentiment_satisfied</i>
                 <i class="material-icons" ng-if="ratings<4 && ratings>=3">sentiment_neutral</i>
                 <i class="material-icons" ng-if="ratings<3 && ratings>=2">sentiment_dissatisfied</i>
                 <i class="material-icons" ng-if="ratings<2 && ratings>=0">sentiment_very_dissatisfied</i>

                </div><!-- end of ratting div -->
               <div  style="font-size: 18px;">{{ 'Overall Rating' | translate }}</div>
          </div><!-- end of details div -->
         
    </div><!-- end of profile-summery div -->

        <div id="tabs">
              <ul>
                  <li ng-repeat="tab in tabs"
                      ng-class="{active:isActiveTab(tab.url)}"
                      ng-click="onClickTab(tab)" translate="{{tab.title}}"></li>
              </ul>
              <div id="mainView">
                  <div ng-include="currentTab"></div>
              </div>
        </div><!-- end of tabs div -->

  </div>
</ion-content><!-- end of content div -->

<div class="full-gray-btn" style="color:#00d8ff;font-weight: bold;box-shadow:0px 0px 10px 0px gray inset" ng-if="$root.userdata.availableForHiring" ng-click="NotavailableForHiring();"> {{ 'Available for Hiring' | translate }}</div>
<div class="full-gray-btn" ng-if="!$root.userdata.availableForHiring" ng-click="availableForHiring();"> {{ 'Not available for Hiring' | translate }}</div>

 <!--<div class="full-gray-btn" style="width:49%;" ng-click="viewStats();" > {{ 'View Stats' | translate }}</div>
 <div class="full-gray-btn" style="width:49%;right:0" ng-click="viewConnection();" > {{ 'View Connections' | translate }}</div>-->
  <script id="stats.html" type="text/ng-template">
  <ion-modal-view class="gradient-red">
  <!--   <ion-header-bar class="gradient-red">
      <h1 class="title"> {{ 'My Stats' | translate }}</h1>
      
    </ion-header-bar> -->
    <ion-content>
      <i class="material-icons popupheader" >assessment</i>
      <button class="button button-clear ion-close popupclose" ng-click="modal.hide()"></button>

        <div style="width: 100%;text-align: center;float: left;display: flex;">
       <ul class="list user-stats-list">
        <li class="item">
           <div class="popuplist">
             <div class="user-stats-title">{{ 'Projects' | translate }}</div>
            <div >{{getObjectLength($root.user_projects)}}</div>
          </div>
        </li>
         <li class="item">
            <div class="popuplist">
             <div class="user-stats-title">{{ 'Project liked' | translate }}</div>
            <div >{{getObjectLength($root.userdata.project_likers)}}</div>
          </div>
        </li>
         <li class="item">
          <div class="popuplist">
         <div class="user-stats-title">{{ 'Profile Likes' | translate }}</div>
             <div >{{getObjectLength($root.userdata.liker)}}</div>
          </div>
        </li>
         <li class="item">
          <div class="popuplist">
          <div class="user-stats-title">{{ 'Profile View' | translate }}</div>
             <div>{{getObjectLength($root.userdata.views)}}</div>
          </div>
        </li>
         <li class="item">
          <div class="popuplist">
           <div class="user-stats-title"> {{ 'Comments' | translate }}</div>
             <div>{{getObjectLength($root.userdata.comments)}}</div>
          </div>
        </li>
         <li class="item">
          <div class="popuplist">
           <div class="user-stats-title">{{ 'Followers' | translate }}</div>
             <div>{{getObjectLength($root.userdata.followers)}}</div>
          </div>
        </li>
         <li class="item">
          <div class="popuplist">
          <div class="user-stats-title">{{ 'Following' | translate }}</div>
             <div>{{getObjectLength($root.userdata.follows)}}</div>
          </div>
        </li>
        <li class="item">
             <div class="popuplist">
             <div class="user-stats-title">{{ 'Likes' | translate }}</div>
               <div>{{getObjectLength($root.userdata.liker)}}</div>
            </div>
        </li>
    </ul>
     </div>
 <!--     <div class="row">
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
             {{ 'Projects' | translate }}
            <div>{{getObjectLength($root.user_projects)}}</div>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
             {{ 'Project liked' | translate }}
            <div>{{getObjectLength($root.userdata.project_likers)}}</div>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
         {{ 'Profile Likes' | translate }}
             <div>{{getObjectLength($root.userdata.liker)}}</div>
          </div>
        </div>
      </div>

</div> -->
      <!--  <div class="row">
        <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
          {{ 'Profile View' | translate }}
             <div>{{getObjectLength($root.userdata.views)}}</div>
          </div>
        </div>
      </div>
       

      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
            {{ 'Comments' | translate }}
             <div>{{getObjectLength($root.userdata.comments)}}</div>
          </div>
        </div>
      </div>


    </div> -->
<!--<div class="row">
        <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
          {{ 'Group Created' | translate }}
             <div>{{getObjectLength(user_groups)}}</div>
          </div>
        </div>
      </div>
     <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
          {{ 'Groups Joined' | translate }}
             <div>{{getObjectLength($root.userdata.groups)}}</div>
          </div>
        </div>
      </div>
     <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
          {{ 'Groups Follow' | translate }}
             <div>{{getObjectLength($root.userdata.groups_follow)}}</div>
          </div>
        </div>
      </div>



    </div>-->
   <!--  <div class="row">
        <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
           {{ 'Followers' | translate }}
             <div>{{getObjectLength($root.userdata.followers)}}</div>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
          {{ 'Following' | translate }}
             <div>{{getObjectLength($root.userdata.follows)}}</div>
          </div>
        </div>
      </div>


    </div> -->
  <!--   <div class="row">
        <div class="col col-50">
        <div class="card">
          <div class="item item-text-wrap">
           {{ 'Likes' | translate }}
             <div>{{getObjectLength($root.userdata.liker)}}</div>
          </div>
        </div>
      </div>
     


    </div> -->
    </ion-content>
  </ion-modal-view>
</script>

        <script id="connections.html" type="text/ng-template">
          <ion-modal-view>
            <ion-content class="gradient-red">
             <i class="material-icons popupheader">group_work</i>
              <button class="button button-clear ion-close popupclose" ng-click="connectionmodel.hide()"></button>

              
    <ion-tabs class="tabs-top tabs-color-balanced" style="width: 100%;">

           <ion-tab title="Follower">
            <ion-nav-view name="tab-1">
             
              <div style="margin-top: 100px;">
                
                      <div class="" ng-repeat="follower in $root.userdata.followers" ng-init="user=(follower.userid | getUser)" class="followers" ng-click="connectionmodel.hide();gotouserDetails(follower.userid)" >

                          <div class="item item-avatar">
                            <img ng-if="!user.picture" src="img/user.png"/>
                            <img ng-if="user.picture" ng-src="{{user.picture}}"/>
                            <div class="popupusername">{{user.name}}</div>
                          </div>
                    </div>
                      </div>
             
            </ion-nav-view>
        </ion-tab>

           <ion-tab title="Following">
            <ion-nav-view name="tab-2">
            
              <div style="margin-top: 100px;">
                  
                   <div class="" ng-repeat="follows in $root.userdata.follows" ng-init="user=(follows.userid | getUser)" class="followers" ng-click="connectionmodel.hide();gotouserDetails(follows.userid)" >

                          <div class="item item-avatar">
                            <img ng-if="!user.picture" src="img/user.png"/>
                            <img ng-if="user.picture" ng-src="{{user.picture}}"/>
                            <div class="popupusername">{{user.name}}</div>
                          </div>
                      </div>
                      </div>
            
            </ion-nav-view>
        </ion-tab>
   
    </ion-tabs> 
  
     
            </ion-content>
          </ion-modal-view>
        </script>
</ion-view><!-- end of ion-view div -->

