
<ion-view view-title="Inbox" hide-back-button="true">
    <div class="mainpage-header">
      Worklidate
    </div><!-- end of mainpage-header div -->
    <div class="main-menu">
        <div class="menu-item menu-icon"  menu-toggle="left"><img src="img/menu.png"></div>
        <div class="menu-item"><a href="#/app/mainpage"> {{ 'Home' | translate }}</a></div>
        <div class="menu-item"><a href="#/app/inbox"> {{ 'Inbox' | translate }}</a></div>
        <div class="menu-item"><a href="#/app/group"> {{ 'Group' | translate }}</a></div>
        <div class="menu-item active"><a href="#/app/sortby">{{ 'Sortby' | translate }}</a></div>
        <div class="menu-item"><a href="#/app/search"> {{ 'Search' | translate }}</a></div>
        <div class="menu-item"><a href="#/app/setting"> {{ 'Settings' | translate }}</a></div>
    </div><!-- end of  main-menu div -->
   <ion-content has-bouncing="false" class="mainpage_ion_content">
   </ion-content><!-- end of ion-content div -->
</ion-view><!-- end of  ion-view div -->
